// Colors
$primary: white;
$secondary: #044556;
$warning: #fedb00;
$info: #044556;

$texto-1: #333;
$texto-2: #616161;
$texto-3: #999;
$titulo-1: #333;
$titulo-2: #58abc1;
$titulo-3: #7deafd;

$bg-stats: #002232;
$bg-reasons-carousel: #044556;
$bg-who-we-are: #4f80f8;
$banner-overlay: rgba(4, 69, 86, 0.5);
$service-overlay: rgba(4, 69, 86, 0.9);

$bg-stats-left: #353D47;
$bg-stats-right: #044556;