// Colors
$primary: white;
$secondary: #4f80f8;
$warning: #fedb00;
$info: #004081;

$texto-1: #333;
$texto-2: #616161;
$texto-3: #999;
$titulo-1: #0049fb;
$titulo-2: #58abc1;
$titulo-3: #78eaff;

$bg-stats: #283b59;
$bg-who-we-are: #4f80f8;