// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #home {
        #carouselBanner {
            .carousel-item.active h1 {
                font-size: 4rem;
            }
        }

        .btn-floating {
            bottom: 30px;
            right: 42px !important;
            left: auto;
            -webkit-transform: none;
                -ms-transform: none;
                    transform: none;
        }
    }

    #home-landing {
        padding-top: 76px;

        #carouselBanner {
            .carousel-item.active h1 {
                font-size: 4rem;
            }
        }

        .btn-floating {
            bottom: 30px;
            right: 42px !important;
            left: auto;
            -webkit-transform: none;
                -ms-transform: none;
                    transform: none;
        }
    }

    #what-we-do {
        h1 {
            font-size: 5rem;
        }
    }

     #stats {
        h1 {
            font-size: 5rem;
        }

        #stats-right {
            padding: 60px;
        }
    }

    #our-clients {
        h1 {
            font-size: 5rem;
        }
    }

    #our-people-say {
        h1 {
            font-size: 5rem;
        }
    }

    #testimonials {
        h1 {
            font-size: 5rem;
        }

        .testimonial {
            .thumbnail {
                background-position: top !important;
            }
        }
    }

    .modal-content {
        .modal-body {
            .m-content {
                &::before {
                    left: 40%;
                    -webkit-transform: translateX(-40%);
                        -ms-transform: translateX(-40%);
                            transform: translateX(-40%);
                }
            }
        }
    }

    #stats {
        #stats-left {
            h1 {
                left: -28px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #home-landing {
        padding-top: 78px;
    }

    #testimonials {
        .testimonial {
            .thumbnail {
                background-position: center top !important;
            }
        }
    }

    .modal-content {
        .modal-body {
            .m-content {
                &::before {
                    left: 39%;
                    -webkit-transform: translateX(-39%);
                        -ms-transform: translateX(-39%);
                            transform: translateX(-39%);
                }
            }
        }
    }

    #about-us {
        .container-fluid {
            @include container-fluid;
        }
    }

    #services {
        margin-top: 60px;

        #who-we-are {
            height: 100%;
        }
    }

    #reasons-carousel {
        #carouselReasons{
            .carousel-control-prev,
            .carousel-control-next {
                height: 15%;
            }

            .carousel-control-prev {
                left: 67%;
            }

            .carousel-control-next {
                right: 12%;
            }
        }
    }

    footer {
        .navbar {
            .navbar-brand {
                transform: translateX(-50%);
                left: 50%;
                position: absolute;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #home-landing {
        padding-top: 0;
    }

    .modal-content {
        .modal-body {
            .m-header {
                &::before,
                &::after {
                    @include scale(1);
                }

                &::before {
                    left: 100px;
                }


                &::after {
                    right: 100px;
                }
            }

            .m-content {
                &::before {
                    @include scale(1);
                    left: 43%;
                    -webkit-transform: translateX(-43%);
                        -ms-transform: translateX(-43%);
                            transform: translateX(-43%);
                }
            }
        }
    }

    #reasons-carousel {
        #carouselReasons{
            .carousel-control-prev {
                left: 65%;
            }

            .carousel-control-next {
                right: 10%;
            }
        }
    }

    #testimonials {
        .testimonial {
            min-height: auto;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #reasons-carousel {
        #carouselReasons{
            .carousel-control-prev {
                left: 65%;
            }

            .carousel-control-next {
                right: 15%;
            }
        }
    }
}